<ion-header>
  <ion-toolbar>
    <ion-title>Siapa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 

    
  <ion-input placeholder="Problema" [(ngModel)]="problema"></ion-input>

  <ion-input placeholder="subir el archivo" type="file"  [(ngModel)]="imagen"></ion-input>

  <ion-button color="primary" (click)="subir()" >Enviar</ion-button>
      
      
  <ion-button  (click)="recargar()"> mostrar mapa</ion-button>
    <div #map id="map"> </div>

</ion-content>
