<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asociados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" href="siapa"><img src="../../assets/IMG/Siapa.png"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" href="ayuntamiento"><img src="../../assets/IMG/Ayuntamiento.png"></ion-button>
      </ion-col>
      
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-button expand="full">Full Button</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full">Full Button</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
