<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asociados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/IMG/Siapa.png" height="500" width="500" routerLink="/siapa">
      </ion-col>
      <ion-col>
       <img src="../../assets/IMG/Ayuntamiento.png" height="500" width="500" routerLink="/ayuntamiento">
      </ion-col>
      
    </ion-row>
    
  </ion-grid>
</ion-content>